[submodule "themes/heyo-hugo-theme"]
	path = themes/heyo-hugo-theme
	url = https://github.com/LucasVadilho/heyo-hugo-theme
[submodule "themes/hugo-shortcode-gallery"]
	path = themes/hugo-shortcode-gallery
	url = https://github.com/mfg92/hugo-shortcode-gallery.git
